.seccionPageNotFound{
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__contMensaje{
        margin: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        &--info{
            border-left: 1px solid $borderColor-container;
            padding-left: 2rem;

            p{
                color: gray;
            }
        }

        h1{
            padding-right: 2rem;
        }
    }

    &__contBoton{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--icono{
            margin-right: 1rem;
        }

        button{
            height: 2.5rem;
            padding: 0 1rem;
            border: 2px solid $color-blue;
            background-color: white;
            font-size: $fontSize-boton;
            cursor: pointer;
            transition: all 0.5s;
        }
      
          button:hover{
            transform: translateY(-5px);
            transition: all 0.5s;
        }
    }

}