.seccionProducto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__contInfo{
        width: 60%;
        height: 30rem;
        margin: 5rem 0;
        display: flex;
        border: 1px solid $border-container;
        padding: 2rem;

        &__contIzq{
            width: 50%;
            background-size: cover;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        &__contDer{
            width: 50%;
            padding-left: 2rem;

            &__contInfo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                
                margin-bottom: 2rem;

                &--precio{
                    margin: 0;
                    font-weight: bold;
                    font-size: $fontSize-subtitulo3;
                }

                h1{
                    margin: 0;
                    font-family: $fontFamily-titulo;
                    font-size: 1.9em;
                    color: $color-titulo;
                    font-weight: 200;
                }
            }

            h2{
                font-family: $fontFamily-subtitulo;
                font-size: $fontSize-subtitulo2;
                color: $color-titulo;
                margin-top: 3rem;
            }

            &--descripcion{
                color: $color-subtitulo-claro;
                margin-bottom: 2rem;
            }

            &--boton{
                background-color: rgba(79, 70, 229, 255);
                color: white;
                border-color: rgba(140, 134, 238, 255);
                border-radius: 7px;
                width: 40%;
                padding: 0.6rem 0;
                margin-bottom: 0.5rem;
                cursor: pointer;
                margin-top: 2rem;
            }
        }
    }
}



//Img border raidius