.seccionInformacion {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: $fontWeight-subtitulo;
    font-family: $fontFamily-2;
    font-size: $fontSize-subtitulo;
    letter-spacing: 2px;
  }

  h3 {
    color: $color-lightgray;
    letter-spacing: 3px;
    font-size: $fontSize-subtitulo2;
    font-family: $fontFamily-1;
    margin-bottom: 3rem;
  }

  &__contInfo {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

    &--img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;

        img{
            // width: 30rem;
            width: 100%;
        }
    }

    @media (max-width: 920px) {
      &--img {
        display: none;
        // width: 50%;
      }
    }

    &--info {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p{
            font-size: $fontSize-texto;
            letter-spacing: $fontLetterSpacing-tituloFooter;
        }
    }
  }

  @media (max-width: 1200px) {
    &__contInfo {
      width: 90%;
    }
  }

  @media (max-width: 920px) {
    &__contInfo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}