.seccionCarrito{
    width: 100%;
    padding-bottom: 5rem;

    // h1{
    //     margin-left: 5rem;
    //     padding-left: 5rem;
    //     margin-bottom: 2rem;
    //     padding-bottom: 2rem;
    //     width: 46.25%; // Cambiar
    //     border-bottom: 1px solid $borderColor-container;
    // }
    h1{
        margin-left: 5rem;
        padding-left: 5rem;
        font-weight: $fontWeight-subtitulo;
        font-family: $fontFamily-2;
        font-size: $fontSize-subtitulo2;
        letter-spacing: $fontLetterSpacing-subtitulo;
    }

    &__contenedor{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

        &__contItems{
            width: 50%;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // flex-wrap: wrap;
            

            &__item{
                width: 100%;
                height: 10rem;
                padding: 1rem 0;
                margin-bottom: 0.5rem;
                display: flex;
                border-bottom: 1px solid $borderColor-container;
                border-radius: 10px;
                position: relative;

                &--img{
                    min-width: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        height: 80%;
                        border-radius: 10px;
                    }
                }

                &--info{
                    padding-left: 2rem;
                    border-left: 1px solid $borderColor-container;

                    select{
                        border: none;
                        outline: none;
                        background-color: transparent;
                    }
                }

                &__contBoton{
                    position: absolute;
                    right: 2rem;
                    top: 2rem;

                    &--boton{
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }

                    &--imgBoton{
                        transition: all 0.3s;
                        color: gray;
                    }

                    &--imgBoton:hover{
                        transition: all 0.3s;
                        color: $color-blue;
                    }
                }
                @media (max-width: 940px) {
                    &__contBoton{
                      left: 0;
                    }
                }

            }

            &--boton{
                width: 8rem;
                height: 2.25rem;
                margin-top: 5rem;
                border: 2px solid $color-blue;
                background-color: white;
                font-size: $fontSize-boton;
                cursor: pointer;
            }
            @media (max-width: 900px) {
                &--boton{
                    margin-top: 2rem;
                    margin-bottom: 7rem;
                }
            }
        }
        @media (max-width: 1100px) {
            &__contItems{
                width: 60%;
            }
        }

        &__contInfoCompra{
            width: 30%;
            min-width: 25rem;
            
            &__contInfo{
                position: relative;
                width: 80%;
                border: 1px solid $borderColor-container;
                border-radius: 10px;
                padding-top: 2rem;
                padding-left: 3rem;
                padding-right: 3rem;
                padding-bottom: 5rem;


                &--cont1{
                    margin-top: 2rem;
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                &--cont2{
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid $borderColor-container;
                }

                h2{
                    font-weight: $fontWeight-subtitulo;
                    font-family: $fontFamily-2;
                    font-size: $fontSize-subtitulo2;
                    letter-spacing: $fontLetterSpacing-subtitulo;
                }

                button{
                    position: absolute;
                    right: 2.5rem;
                    bottom: 1.5rem;
                    width: 8rem;
                    height: 2.25rem;
                    border: 2px solid $color-blue;
                    background-color: white;
                    font-size: $fontSize-boton;
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: 900px) {
        &__contenedor{
          flex-direction: column;
          align-items: center;
        }
    }
}