.seccionCarrito{
    width: 100%;

    h1{
        margin-left: 5rem;
        padding-left: 5rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        width: 46.25%; // Cambiar
        border-bottom: 1px solid lightgray;
    }

    &__contenedor{
        width: 100%;
        display: flex;
        justify-content: space-around;

        &__contItems{
            width: 50%;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // flex-wrap: wrap;
            

            &__item{
                width: 100%;
                height: 10rem;
                padding: 1rem 0;
                margin-bottom: 0.5rem;
                display: flex;
                border-bottom: 1px solid lightgray;
                border-radius: 10px;
                position: relative;

                &--img{
                    width: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        height: 80%;
                        border-radius: 10px;
                    }
                }

                &--info{
                    padding-left: 2rem;
                    border-left: 1px solid lightgray;
                }

                &__contBoton{
                    position: absolute;
                    right: 2rem;
                    top: 2rem;

                    &--boton{
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }

                    &--imgBoton{
                        color: gray;
                    }
                }

            }

            &--boton{
                width: 8rem;
                height: 2.5rem;
                border-radius: 10px;
                border: 1px solid lightgray;
                cursor: pointer;
            }
        }

        &__contInfoCompra{
            width: 30%;
            
            &__contInfo{
                width: 80%;
                border: 1px solid lightgray;
                border-radius: 10px;
                padding: 2rem;

                &--cont1{
                    padding: 1rem;

                    div{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                &--cont2{
                    padding: 1rem;
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                h2{

                }

                button{
                    width: 100%;
                    height: 2.5rem;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    cursor: pointer;
                }
            }
        }

        &__contBoton{
            background-color: red;
            width: 1rem;
            height: 1rem;
        }
    }
}