.seccionFooter{
    background-color: $backgroundColor-black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    // margin-top: 7rem;

    &__contenedor{
        width: 28%;
        height: 100%;
        padding: 0 3rem;
        margin: 3rem 0;

        h1{
            color: white;
            font-size: $fontSize-tituloFooter;
            font-family: $fontFamily-2;
            letter-spacing: $fontLetterSpacing-tituloFooter;
            border-bottom: 1px solid $color-lightgray;
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
        }

        &__contTexto{
            color: $color-lightgray;

            &--info{
                display: flex;
                align-items: center;
                width: 100%;
                height: 2rem;

                p{
                    margin-left: 1rem;
                }
            }

            &__contBoton{
                margin: 1rem 0;
            }

            &--boton{
                text-decoration: none;
                color: $color-lightgray;
            }

            &--boton:hover{
                color: $color-white;
            }

            &--nav{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li{
                        margin: 0.75rem 0;
                    }
                }
            }
        }
    }
}