.seccionHeader {
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;

  &__contCentral {
    width: 70%;

    h1 {
      font-size: $fontSize-titulo;
      font-family: $fontFamily-1;
      letter-spacing: 3px;
    }

    &__contMenu {

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        font-size: $fontSize-enlaces;
        font-family: $fontFamily-2;

        li {
          padding: 0.15rem;
          position: relative;
        }
      }

      &__subcontenedor{ //???
        height: 15rem;
        display: none;
        background-color: rgba(255, 68, 0, 0.511);
      }
    }
  }
  @media (max-width: 850px) {
    &__contCentral{
      width: 90%;
    }
  }
  @media (max-width: 820px) {
    &__contCentral{
      display: none;
    }
  }

  &__contLateral {
    position: absolute;
    right: 4rem;
    top: 3.8rem;
    z-index: 1000;
  }



  // Animación outline hover

  #linkHeader {
    color: $color-black;
    text-decoration: none;
    letter-spacing: 1px;
  }

  #linkHeader:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    // background-color: #0087ca;
    background-color: $color-blue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #linkHeader:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}




//CSS DE DROPDOWN A PARTE