.seccionHome{
    width: 100%;
    display: flex;
    flex-direction: column;

    &__contBanner{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            width: 90%;
            height: 40rem;
            object-fit: cover;
            box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
        }

        &--info{
            width: 50%;
            padding: 0 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $backgroundColor-lightgray;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
                
            p{
                font-size: $fontSize-texto;
                letter-spacing: $fontLetterSpacing-tituloFooter;
            }
        }
    }

    &__contProducto{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 8rem 0;
        width: 100%;

        &__producto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 80px;

            &--icon{
                height: 2rem;
            }

            &--info{
                margin: 1rem 0;

                h2{
                    font-size: $fontSize-subtitulo2;
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    font-weight: 500;
                }

                p{
                    color: $color-lightgray;
                    letter-spacing: 1px;
                    font-size: 0.95em;
                    line-height: 1.9em;
                }
            }

            button{
                width: 8rem;
                height: 2.25rem;
                border: 2px solid $color-blue;
                background-color: white;
                font-size: $fontSize-boton;
                cursor: pointer;
                transition: all 0.5s;
            }
            
            button:hover{
                transform: translateY(-5px);
                transition: all 0.5s;
            }
        }
        @media (max-width: 1100px) {
            &__producto {
              padding: 40px;
            }
        }
        @media (max-width: 700px) {
            &__producto {
              padding: 10px;
            }
        }
    }
    @media (max-width: 450px) {
        &__contProducto {
          flex-direction: column;

          &__producto{
            margin-top: 5rem;
          }
        }
    }

    &__contDestacados{
        width: 100%;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $backgroundColor-lightgray;

        &--contProductos{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        @media (max-width: 1000px) {
            &--contProductos {
              flex-wrap: wrap;
            }
        }

        h1 {
            margin-top: 4rem;
            text-align: center;
            font-weight: $fontWeight-subtitulo;
            font-family: $fontFamily-2;
            font-size: $fontSize-subtitulo;
            letter-spacing: $fontLetterSpacing-subtitulo;
        }
    
        button{
            width: 8rem;
            height: 2.25rem;
            margin-bottom: 5rem;
            margin-top: 2rem;
            border: 2px solid $color-blue;
            background-color: white;
            font-size: $fontSize-boton;
            cursor: pointer;
            transition: all 0.5s;
        }

        button:hover{
            transform: translateY(-5px);
            transition: all 0.5s;
        }
    }
}