.seccionHome{
    width: 100%;

    h1{
        margin-left: 5rem; //4
        margin-top: 5rem;
        font-family: $fontFamily-1;
        font-weight: $fontWeight-subtitulo;
        font-size: $fontSize-subtitulo;
        letter-spacing: $fontLetterSpacing-subtitulo;
    }

    h2 {
        color: $color-lightgray;
        letter-spacing: 3px;
        font-size: $fontSize-subtitulo2;
        font-family: $fontFamily-1;
        margin-bottom: 3rem;
      }

    &__contInfo{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0 5%;
        margin-top: 8rem;

        &--img{
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 45%;
            width: 50%;

            img{
                width: 100%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        &--info{
            // width: 40%;
            width: 50%;
            padding: 0 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $backgroundColor-lightgray;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
                
            p{
                font-size: $fontSize-texto;
                letter-spacing: $fontLetterSpacing-tituloFooter;
            }
        }
    }

    @media (max-width: 1340px) {
        &__contInfo {
          display: none;
        }
    }

    &__contProducto{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10rem 0;

        &__producto{
            width: 21%;
            height: 15rem;
            // background-color: lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &--icon{
                height: 2rem;
            }

            &--info{
                margin: 1rem 0;

                p{

                }
            }

            button{
                width: 7rem;
                height: 2.5rem;
                border: 2px solid $color-red;
                background-color: $backgroundColor-lightgray;
                // font-size: $fontSize-boton;
                cursor: pointer;
            }
        }
    }

    &__contProductos{
        display: flex;
        align-items: center;
        width: 100%;
        // justify-content: center;
        margin: 0 3rem;
        flex-wrap: wrap;
    }
}


// &__contOfertas{
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-around;
    //     margin-top: 10rem;
    //     margin-bottom: 6rem;

    //     &--oferta{
    //         width: 21%;
    //         height: 8rem;
    //         background-color: lightgray;
    //     }
    // }


    







// .seccionInicio {
 
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   &__contenedorPortada {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     &--imgPortada {
//       width: 55%;
//       // height: 65vh;
//     }
//   }

//   h2 {
//     font-size: $fontSize-subtitulo;
//     margin: 3rem 0;
//     font-weight: $fontWeight-subtitulo;
//     text-align: center;
//     font-family: $fontFamily-2;
//     letter-spacing: 2px;
//   }

//   &__contenedorOfertas {
//     width: 100%;
//     margin-top: 6rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;

//     &__contenedorItemsOferta {
//       width: 100%;
//       display: flex;
//       justify-content: space-around;
//       margin-top: 4rem;
//       list-style: none;
//       padding: 0;
//     }
//   }

//   &__contenedorListaInicio {
//     width: 100%;
//     margin-top: 5rem;
//     display: flex;
//     align-items: center;
//     flex-direction: column;

//     &__contenedorItems {
//       width: 70%;
//       display: flex;
//       justify-content: space-around;
//       flex-wrap: wrap;
//       //display: grid;
//       //grid-template-columns: 1fr 1fr 1fr;
//       //column-gap: 5rem;
//     }

//     &--boton {
//       width: 9rem;
//       height: 3rem;
//       border: 2px solid $color-red;
//       background-color: white;
//       margin-top: 5rem;
//       font-size: $fontSize-boton;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }

//   a{
//     color: $color-black;
//     text-decoration: none;
//     letter-spacing: 1px;
//   }
// }
