.seccionHome{
    width: 100%;
    display: flex;
    flex-direction: column;

    &__contInfo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 0 5%;
        // margin-top: 8rem;
        
        img{
            width: 90%;
            height: 40rem;
            // object-fit: scale-down;
            object-fit: cover;
            box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
        }

        // &--img{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     // width: 45%;
        //     width: 50%;

        //     img{
        //         width: 100%;
        //         border-top-left-radius: 10px;
        //         border-bottom-left-radius: 10px;
        //     }
        // }

        &--info{
            width: 50%;
            padding: 0 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $backgroundColor-lightgray;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
                
            p{
                font-size: $fontSize-texto;
                letter-spacing: $fontLetterSpacing-tituloFooter;
            }
        }
    }

    @media (max-width: 1340px) {
        &__contInfo {
          display: none;
        }
    }

    &__contProducto{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 8rem 0;

        &__producto{
            // width: 21%;
            // background-color: lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 80px;

            &--icon{
                height: 2rem;
            }

            &--info{
                margin: 1rem 0;

                h2{
                    font-size: $fontSize-subtitulo2;
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    font-weight: 500;
                }

                p{
                    color: $color-lightgray;
                    letter-spacing: 1px;
                    font-size: 0.95em;
                    line-height: 1.9em;
                }
            }

            button{
                width: 8rem;
                height: 2.25rem;
                border: 2px solid $color-blue;
                background-color: white;
                font-size: $fontSize-boton;
                cursor: pointer;
            }
        }
    }

    &__contDestacados{
        // width: 100%;
        padding: 5rem 0;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        background-color: $backgroundColor-lightgray;
        overflow: hidden;

        &--contProductos{
            display: flex;
            // float: left;
            // justify-content: center;

            &--slider{
                display: flex;
                // align-items: center;
            }
            
            // flex-wrap: wrap;
            // border-top: 1px solid #ddd;
            // border-bottom: 1px solid #ddd;
        }

        h1 {
            text-align: center;
            font-weight: $fontWeight-subtitulo;
            font-family: $fontFamily-2;
            font-size: $fontSize-subtitulo;
            letter-spacing: $fontLetterSpacing-subtitulo;
        }
    
        button{
            width: 8rem;
            height: 2.25rem;
            margin-bottom: 5rem;
            margin-top: 2rem;
            border: 2px solid $color-blue;
            background-color: white;
            font-size: $fontSize-boton;
            cursor: pointer;
        }
    }
}


// .seccionInicio {
 
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   &__contenedorPortada {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     &--imgPortada {
//       width: 55%;
//       // height: 65vh;
//     }
//   }

//   h2 {
//     font-size: $fontSize-subtitulo;
//     margin: 3rem 0;
//     font-weight: $fontWeight-subtitulo;
//     text-align: center;
//     font-family: $fontFamily-2;
//     letter-spacing: 2px;
//   }

//   &__contenedorOfertas {
//     width: 100%;
//     margin-top: 6rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;

//     &__contenedorItemsOferta {
//       width: 100%;
//       display: flex;
//       justify-content: space-around;
//       margin-top: 4rem;
//       list-style: none;
//       padding: 0;
//     }
//   }

//   &__contenedorListaInicio {
//     width: 100%;
//     margin-top: 5rem;
//     display: flex;
//     align-items: center;
//     flex-direction: column;

//     &__contenedorItems {
//       width: 70%;
//       display: flex;
//       justify-content: space-around;
//       flex-wrap: wrap;
//       //display: grid;
//       //grid-template-columns: 1fr 1fr 1fr;
//       //column-gap: 5rem;
//     }

//     &--boton {
//       width: 9rem;
//       height: 3rem;
//       border: 2px solid $color-blue;
//       background-color: white;
//       margin-top: 5rem;
//       font-size: $fontSize-boton;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }

//   a{
//     color: $color-black;
//     text-decoration: none;
//     letter-spacing: 1px;
//   }
// }
