.seccionLista{
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    padding-right: 2rem;
  }

  &__contTitulo{
    width: 70%;
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 2rem;
    // border-bottom: 1px solid $borderColor-container;

    &__contBuscador{
      display: flex;
      // justify-content: center;
      align-items: center;

      input[type=search]{
        // margin-left: 5rem;
        margin-left: 1rem;
        width: 20rem; //30%
        padding: 0.6rem 2rem; //0.8
        letter-spacing: 1px;
        background-color: #f7f7f7;
        border: 1px solid #ebeeef;
        border-radius: 7px;
        color: #8c9398;
      }
      input[type=search]:focus{
        outline: 1px solid #ebeeef;
      }
    }
  
    &--ordenacion{
      // position: absolute;
      // right: 5rem;
      background-color: transparent;
      border: none;
      outline: none;

      option{
        padding: 2rem 1rem;
      }
    }
  }

  &__contTienda{
    width: 80%; //65%
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid $borderColor-container;
    border-bottom: 1px solid $borderColor-container;

    &__contFiltros{
      width: 15rem;
      //width: 20%;
      padding: 0 1.5rem;

      &__form{

        ul{
          list-style: none;
          padding-bottom: 2rem;
          border-bottom: 1px solid $borderColor-container;

          li{
            input[type=checkbox]:checked{ // No funciona
              background-color: red;
            }
          }
        }

        input{
          margin-right: 1rem;
        }

        &--price{
          display: flex;
          flex-direction: column;
          justify-content: center;

          span{
            border: 1px solid lightblue;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            text-align: center;
          }

          li{
            display: flex;
            flex-direction: column;
            justify-content: center;

            label{
              margin-top: 0.5rem;
            }
  
            input{
              margin-top: 0.5rem;
            }
  
            input[type=range]::-webkit-slider-runnable-track{
              height: 5px;
            }
  
            input[type=range]::-webkit-slider-thumb{
              margin-top: -6px;
              cursor: pointer;
            }
          }
        }
      }
    }
  
    &__contArticulos{
      display: flex;
      // align-items: center;
      justify-content: center;
      height: auto;
      
      // flex-wrap: wrap;
      // justify-content: space-around;
      width: 60rem; //80% 60rem
      //width: 56rem;

      &--cont{
        width: 100%;
        display: flex;
        // justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  &__contPaginacion{
    width: 30%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    button{
      border: none;
      background-color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button:hover{
      color: $color-blue;
    }

    &--icono{
      margin: 0 1rem;
    }

    &__paginacionCentral{
      display: flex;
      justify-content: center;
      align-items: center;

      &--botonActual{
        color: $color-blue;
        
      }

      button{
        width: 3rem;
        height: 3rem;
        margin: 0 0.25rem;
        background-color: white;
        border-top: 2px solid $color-blue;
        cursor: pointer;
        // width: 8rem;
        // height: 2.25rem;
        // margin: 0 1rem;
        // border: 2px solid $color-blue;
        // background-color: white;
        // font-size: $fontSize-boton;
        // cursor: pointer;
      }
    }

  }

}
















// .seccionLista {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   //flex-direction: column;
//   // padding-bottom: 5rem;
//   position: relative;
//   //min-height: 115vh;
  

//   &__contenedorLateral{
//     width: 25%;
//   }

//   &__contenedorLista {
//     width: 75%;
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;
//     padding-right: 2rem;
    

//     &__contenedorListado{
//       display: flex;
//       justify-content: center;
//       width: 100%;
//       margin: 5rem 0;

//       &--boton{
//         margin: 0 1rem;
//         height: 1.5rem;
//         width: 5rem;
//       }
//     }
//   }

  // &__contenedorLateral {
  //   margin: 1rem;
  //   width: 25%;
  //   position: relative;

  //   &__contenedorBuscador {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     margin-top: 1rem;
  //     margin-bottom: 1rem;
  //     //background-color: lightgray;
  //     height: 4rem;
  //     width: 70%;
  //     right: 1rem;
  //     position: absolute;

  //     &--buscador {
  //       // width: 14rem;
  //       // padding: 0.8rem 2rem;
  //       // letter-spacing: 1px;
  //       // border: none;
  //       // transition: all 0.5s;
  //       // background-color: #f7f7f7;
  //       // border: 1px solid #ebeeef;

  //       width: 20rem;
  //       padding: 0.8rem 2rem;
  //       letter-spacing: 1px;
  //       background-color: $backgroundColor-lightgray;
  //       border: 1px solid $borderColor-input;
  //       border-radius: 12px;
  //       color: $color-lightgray;
  //     }

  //     // &--buscador:focus {
  //     //   width: 16rem;
  //     //   transition: all 0.5s;
  //     //   outline: none;
  //     // }

  //     &--boton {
  //       background-color: red;
  //       color: white;
  //       padding: 0.8rem 1rem;
  //       border: none;
  //       border-top-right-radius: 12px;
  //       border-bottom-right-radius: 12px;
  //     }
  //   }
  // }







  // &__contenedorLista {
  //   width: 80%;
  //   display: flex;
  //   justify-content: space-around;
  //   flex-wrap: wrap;
  //   margin: 3rem 0;

  //   div {
  //     margin: 1rem;
  //   }
  // }
//}

// &__contenedorBuscador {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &--filtro {
//       color: black;

//         &-boton{
//             background-color: white;
//             padding: 0.4rem 1rem;
//             border: none;
//             border-right: 1px solid lightgray;
//             border-top-left-radius: 12px;
//             border-bottom-left-radius: 12px;
//         }

//       ul {
//         list-style: none;
//         margin: 0;
//         padding: 0;
//       }

//       li {
//         position: relative;

//         ul {
//           display: none;
//           position: absolute;
//         }

//         li {
//           background-color: white;
//           padding: 0.3rem 0.5rem;
//           margin-top: 1rem;
//         }
//       }

//       li:hover > ul {
//         display: flex;
//       }
//     }

//     &--buscador {
//       width: 12rem;
//       padding: 0.4rem 2rem;
//       border: none;
//       //border-radius: 10px;
//       transition: all 0.5s;
//     }

//     &--buscador:focus {
//       width: 18rem;
//       transition: all 0.5s;
//       outline: none;
//     }

//     &--boton {
//       background-color: red;
//       color: white;
//       padding: 0.4rem 1rem;
//       border: none;
//       border-top-right-radius: 12px;
//       border-bottom-right-radius: 12px;
//     }
//   }
