.seccionUser{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;

        &__contImg{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10rem;
            height: 10rem;
            margin: 2rem 0;
            outline: 8px solid $borderColor-container;
            border-radius: 100%;

            img{
                height: 100%;
                // width: 100%;
            }

            button{
                position: absolute;
                bottom: 30px;
                right: 30px;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }

        &__contInfo{
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 3rem;
            padding-bottom: 5rem;
            color: $color-lightgray;
            border: 1px solid $borderColor-container;
            border-radius: 10px;

            &--icon{
                color: black;
            }

            &--label{
                color: $color-black;
                margin-left: 1rem;
                margin-right: 0.25rem;
                letter-spacing: 0px;
            }

            ul{
                list-style: none;

                li{
                    margin: 2rem 0;
                    letter-spacing: $fontLetterSpacing-input;

                    select{
                        border: none;
                        outline: none;
                        background-color: transparent;
                        color: $color-lightgray;
                        letter-spacing: $fontLetterSpacing-input;

                        option{
                            margin-top: 1rem;
                        }
                    }

                    input{
                        border: none;
                        border-bottom: 1px solid $borderColor-container;
                        outline: none;
                        color: $color-lightgray;
                        letter-spacing: $fontLetterSpacing-input;
                    }
                }
            }

            button{
                position: absolute;
                right: 5rem;
                bottom: 2rem;
                padding: 0.5rem;
                border: 1px solid $color-red;
                background-color: $backgroundColor-lightgray;
                font-size: $fontSize-boton;
                border-radius: 6px;
                cursor: pointer;
            }

        }
    }
}