.seccionUser{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__contenedor{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__contImg{
            width: 10rem;
            height: 10rem;
            margin: 2rem 0;
            outline: 8px solid $border-container;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__contInfo{
            width: 100%;
            position: relative;
            border: 1px solid $border-container;
            border-radius: 10px;
            margin-top: 3rem;
            padding-bottom: 5rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $color-text-claro;

            &--icon{
                color: black;
            }

            &--label{
                color: black;
                margin-left: 1rem;
                margin-right: 0.25rem;
            }

            ul{
                list-style: none;

                li{
                    margin: 2rem 0;

                    select{
                        border: none;
                        outline: none;
                        background-color: transparent;
                        color: $color-text-claro;

                        option{
                            margin-top: 1rem;
                        }
                    }

                    input{
                        border: none;
                        border-bottom: 1px solid $border-container;
                        outline: none;
                        color: $color-text-claro;
                    }
                }
            }

            button{
                position: absolute;
                right: 5rem;
                bottom: 2rem;
                padding: 0.5rem;
                border: 1px solid lightgray;
                border-radius: 6px;
                cursor: pointer;
            }

        }
    }
}