.seccionUser{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__contenedor{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__contImg{
            width: 10rem;
            height: 10rem;
            margin-bottom: 2rem;
            outline: 8px solid $border-container;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__contInfo{
            width: 100%;
            border: 1px solid $border-container;
            border-radius: 10px;
            margin-top: 3rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &--icon{
                margin-right: 1rem;
            }

            ul{
                list-style: none;

                li{
                    margin: 2rem 0;
                }
            }
        }
    }
}