@import './otros/_variables.scss';

@import './sections/_header.scss';
@import './sections/_home.scss';
@import './sections/_shop.scss';
@import './sections/_cart.scss';
@import './sections/_aboutUs.scss';
@import './sections/_contact.scss';
@import './sections/_profile.scss';
@import './sections/_footer.scss';

@import './components/_card.scss';
@import './components/_productInfo.scss';
// @import './components/_discount.scss';
@import './components/_pageNotFound.scss';
// @import './components/_spinner.scss';

@import './otros/_validacionForms.scss';

body {
  padding: 0;
  margin: 0;
}







// Cambios

/*
- About US:
    * Cambiar estilos de las letras
    * Cambiar dos imagenes

- Contact:
    * Input al estar activo no cambie el borde

-Footer:
    * Input type="email" para introducir el correo y que le lleguen ofertas y novedades. OPCIONAL para rellenar (Sucede al registrarse también)

-ProductInfo:
    *Al añadir producto a carrito que cargue (simbolo)
*/