.seccionHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem; }
  .seccionHeader__contCentral {
    width: 70%; }
    .seccionHeader__contCentral h1 {
      font-size: 4em;
      font-family: sans-serif;
      letter-spacing: 3px; }
    .seccionHeader__contCentral__contMenu ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
      font-size: 1.15em;
      font-family: "Inconsolata", monospace; }
      .seccionHeader__contCentral__contMenu ul li {
        padding: 0.15rem;
        position: relative; }
  @media (max-width: 850px) {
    .seccionHeader__contCentral {
      width: 90%; } }
  .seccionHeader__contLateral {
    position: absolute;
    right: 4rem;
    top: 3.8rem;
    z-index: 1000; }
  .seccionHeader #linkHeader {
    color: #4a4a4a;
    text-decoration: none;
    letter-spacing: 1px; }
  .seccionHeader #linkHeader:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #03C4EB;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  .seccionHeader #linkHeader:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; }

.seccionHeaderCompacto {
  background-color: #03C4EB;
  width: 100%;
  height: 5rem;
  margin-top: 2.8rem;
  margin-bottom: 2rem;
  display: none;
  justify-content: space-between;
  align-items: center; }
  .seccionHeaderCompacto__contLateral {
    position: absolute;
    right: 4rem;
    top: 3.8rem;
    z-index: 1000; }

@media (max-width: 820px) {
  .seccionHeader {
    display: none; }
  .seccionHeaderCompacto {
    display: flex; } }

#menuLateral {
  width: 15rem;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 500;
  left: -20rem;
  top: 0;
  transition: all 0.5s;
  border: 1px solid rgba(128, 128, 128, 0.2); }
  #menuLateral h1 {
    font-size: 25px;
    width: 100%;
    margin-top: 3rem;
    text-align: center; }
  #menuLateral ul {
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    list-style: none; }
  #menuLateral li {
    padding: 1rem 0;
    padding-left: 2rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; }

#linkHeaderCompact {
  color: #4a4a4a;
  text-decoration: none;
  letter-spacing: 1px; }

#linkHeaderCompact:hover {
  color: #03C4EB; }

#check {
  display: none; }

#btnMenu {
  visibility: hidden;
  position: absolute;
  left: 3.5rem;
  top: 4.8rem;
  cursor: pointer; }

@media (max-width: 820px) {
  #btnMenu {
    visibility: visible; } }

#btnMenuCancel {
  position: absolute;
  right: 1rem;
  top: 1rem; }

#check:checked ~ #menuLateral {
  left: 0;
  transition: all 0.5s; }

#iconMenu {
  height: 1.2rem; }

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.profileimg {
  height: 100%; }

.action .profile {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer; }

.action .menu {
  position: absolute;
  top: 120px;
  right: -15px;
  padding: 1rem 1.5rem;
  background: white;
  outline: 2px solid rgba(128, 128, 128, 0.6);
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  width: 10rem;
  z-index: 1000; }

.action .menu.active {
  top: 4rem;
  visibility: visible;
  opacity: 1; }

.action .menu::before {
  content: "";
  position: absolute;
  top: -0.3rem;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg); }

.action .menu ul {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  margin: 0;
  padding: 0; }

.action .menu ul li {
  list-style: none;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center; }

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 500;
  transition: 0.5s; }

.action .menu ul li:hover a {
  color: #03C4EB; }

.action .menu ul li:hover button {
  color: #03C4EB; }

.icon {
  height: 0.8rem;
  margin-right: 1rem; }

.botonLogout {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  color: #4a4a4a; }

.seccionHome {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .seccionHome__contBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .seccionHome__contBanner img {
      width: 90%;
      height: 40rem;
      object-fit: cover;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2); }
    .seccionHome__contBanner--info {
      width: 50%;
      padding: 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f7f7f7;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      .seccionHome__contBanner--info p {
        font-size: 1em;
        letter-spacing: 1.5px; }
  .seccionHome__contProducto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8rem 0;
    width: 100%; }
    .seccionHome__contProducto__producto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 80px; }
      .seccionHome__contProducto__producto--icon {
        height: 2rem; }
      .seccionHome__contProducto__producto--info {
        margin: 1rem 0; }
        .seccionHome__contProducto__producto--info h2 {
          font-size: 1.15em;
          margin-bottom: 2rem;
          font-size: 1.5rem;
          letter-spacing: 1px;
          font-weight: 500; }
        .seccionHome__contProducto__producto--info p {
          color: #959596;
          letter-spacing: 1px;
          font-size: 0.95em;
          line-height: 1.9em; }
      .seccionHome__contProducto__producto button {
        width: 8rem;
        height: 2.25rem;
        border: 2px solid #03C4EB;
        background-color: white;
        font-size: 0.9em;
        cursor: pointer;
        transition: all 0.5s; }
      .seccionHome__contProducto__producto button:hover {
        transform: translateY(-5px);
        transition: all 0.5s; }
    @media (max-width: 1100px) {
      .seccionHome__contProducto__producto {
        padding: 40px; } }
    @media (max-width: 700px) {
      .seccionHome__contProducto__producto {
        padding: 10px; } }
  @media (max-width: 450px) {
    .seccionHome__contProducto {
      flex-direction: column; }
      .seccionHome__contProducto__producto {
        margin-top: 5rem; } }
  .seccionHome__contDestacados {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .seccionHome__contDestacados--contProductos {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
    @media (max-width: 1000px) {
      .seccionHome__contDestacados--contProductos {
        flex-wrap: wrap; } }
    .seccionHome__contDestacados h1 {
      margin-top: 4rem;
      text-align: center;
      font-weight: 400;
      font-family: "Inconsolata", monospace;
      font-size: 2em;
      letter-spacing: 2px; }
    .seccionHome__contDestacados button {
      width: 8rem;
      height: 2.25rem;
      margin-bottom: 5rem;
      margin-top: 2rem;
      border: 2px solid #03C4EB;
      background-color: white;
      font-size: 0.9em;
      cursor: pointer;
      transition: all 0.5s; }
    .seccionHome__contDestacados button:hover {
      transform: translateY(-5px);
      transition: all 0.5s; }

.seccionLista {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccionLista h2 {
    padding-right: 2rem; }
  .seccionLista__contTitulo {
    width: 70%;
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .seccionLista__contTitulo__contBuscador {
      display: flex;
      align-items: center; }
      .seccionLista__contTitulo__contBuscador input[type=search] {
        margin-left: 1rem;
        margin-right: 2rem;
        width: 20rem;
        padding: 0.6rem 2rem;
        letter-spacing: 1px;
        background-color: #f7f7f7;
        border: 1px solid #ebeeef;
        border-radius: 7px;
        color: #8c9398; }
      .seccionLista__contTitulo__contBuscador input[type=search]:focus {
        outline: 1px solid #ebeeef; }
    .seccionLista__contTitulo--ordenacion {
      background-color: transparent;
      border: none;
      outline: none; }
      .seccionLista__contTitulo--ordenacion option {
        padding: 2rem 1rem; }
  .seccionLista__contTienda {
    width: 80%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2); }
    .seccionLista__contTienda__contFiltros {
      width: 15rem;
      padding: 0 1.5rem; }
      .seccionLista__contTienda__contFiltros__form ul {
        list-style: none;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2); }
      .seccionLista__contTienda__contFiltros__form input {
        margin-right: 1rem; }
      .seccionLista__contTienda__contFiltros__form--price {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .seccionLista__contTienda__contFiltros__form--price span {
          border: 1px solid lightblue;
          padding: 0.5rem 1rem;
          margin-bottom: 1rem;
          text-align: center; }
        .seccionLista__contTienda__contFiltros__form--price li {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .seccionLista__contTienda__contFiltros__form--price li label {
            margin-top: 0.5rem; }
          .seccionLista__contTienda__contFiltros__form--price li input {
            margin-top: 0.5rem; }
          .seccionLista__contTienda__contFiltros__form--price li input[type=range]::-webkit-slider-runnable-track {
            height: 5px; }
          .seccionLista__contTienda__contFiltros__form--price li input[type=range]::-webkit-slider-thumb {
            margin-top: -6px;
            cursor: pointer; }
    .seccionLista__contTienda__contArticulos {
      display: flex;
      justify-content: center;
      height: auto;
      width: 60rem; }
      .seccionLista__contTienda__contArticulos--cont {
        width: 100%;
        display: flex;
        flex-wrap: wrap; }
  .seccionLista__contPaginacion {
    width: 30%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .seccionLista__contPaginacion button {
      border: none;
      background-color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
    .seccionLista__contPaginacion button:hover {
      color: #03C4EB; }
    .seccionLista__contPaginacion--icono {
      margin: 0 1rem; }
    .seccionLista__contPaginacion__paginacionCentral {
      display: flex;
      justify-content: center;
      align-items: center; }
      .seccionLista__contPaginacion__paginacionCentral--botonActual {
        color: #03C4EB; }
      .seccionLista__contPaginacion__paginacionCentral button {
        width: 3rem;
        height: 3rem;
        margin: 0 0.25rem;
        background-color: white;
        border-top: 2px solid #03C4EB;
        cursor: pointer; }

#sinProductos {
  text-align: center;
  width: 100%; }

.seccionCarrito {
  width: 100%;
  padding-bottom: 5rem; }
  .seccionCarrito h1 {
    margin-left: 5rem;
    padding-left: 5rem;
    font-weight: 400;
    font-family: "Inconsolata", monospace;
    font-size: 1.15em;
    letter-spacing: 2px; }
  .seccionCarrito__contenedor {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around; }
    .seccionCarrito__contenedor__contItems {
      width: 50%;
      margin-right: 1rem;
      display: flex;
      flex-direction: column; }
      .seccionCarrito__contenedor__contItems__item {
        width: 100%;
        height: 10rem;
        padding: 1rem 0;
        margin-bottom: 0.5rem;
        display: flex;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        border-radius: 10px;
        position: relative; }
        .seccionCarrito__contenedor__contItems__item--img {
          min-width: 10rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          .seccionCarrito__contenedor__contItems__item--img img {
            height: 80%;
            border-radius: 10px; }
        .seccionCarrito__contenedor__contItems__item--info {
          padding-left: 2rem;
          border-left: 1px solid rgba(128, 128, 128, 0.2); }
          .seccionCarrito__contenedor__contItems__item--info input[type=number] {
            width: 3rem;
            padding-left: 0.5rem;
            color: #959596;
            border: 1px solid rgba(128, 128, 128, 0.2); }
          .seccionCarrito__contenedor__contItems__item--info input[type=number]:focus {
            outline-color: #03C4EB; }
        .seccionCarrito__contenedor__contItems__item__contBoton {
          position: absolute;
          right: 2rem;
          top: 2rem; }
          .seccionCarrito__contenedor__contItems__item__contBoton--boton {
            border: none;
            background-color: transparent;
            cursor: pointer; }
          .seccionCarrito__contenedor__contItems__item__contBoton--imgBoton {
            transition: all 0.3s;
            color: gray; }
          .seccionCarrito__contenedor__contItems__item__contBoton--imgBoton:hover {
            transition: all 0.3s;
            color: #03C4EB; }
        @media (max-width: 940px) {
          .seccionCarrito__contenedor__contItems__item__contBoton {
            left: 0; } }
      .seccionCarrito__contenedor__contItems--boton {
        width: 8rem;
        height: 2.25rem;
        margin-top: 5rem;
        border: 2px solid #03C4EB;
        background-color: white;
        font-size: 0.9em;
        cursor: pointer;
        transition: all 0.5s; }
      .seccionCarrito__contenedor__contItems--boton:hover {
        transform: translateY(-5px);
        transition: all 0.5s; }
      @media (max-width: 900px) {
        .seccionCarrito__contenedor__contItems--boton {
          margin-top: 2rem;
          margin-bottom: 7rem; } }
    @media (max-width: 1100px) {
      .seccionCarrito__contenedor__contItems {
        width: 60%; } }
    .seccionCarrito__contenedor__contInfoCompra {
      width: 30%;
      min-width: 25rem; }
      .seccionCarrito__contenedor__contInfoCompra__contInfo {
        position: relative;
        width: 80%;
        border: 1px solid rgba(128, 128, 128, 0.2);
        border-radius: 10px;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem; }
        .seccionCarrito__contenedor__contInfoCompra__contInfo--cont1 {
          margin-top: 2rem; }
          .seccionCarrito__contenedor__contInfoCompra__contInfo--cont1 div {
            display: flex;
            align-items: center;
            justify-content: space-between; }
        .seccionCarrito__contenedor__contInfoCompra__contInfo--cont2 {
          margin-top: 2rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid rgba(128, 128, 128, 0.2); }
        .seccionCarrito__contenedor__contInfoCompra__contInfo h2 {
          font-weight: 400;
          font-family: "Inconsolata", monospace;
          font-size: 1.15em;
          letter-spacing: 2px; }
        .seccionCarrito__contenedor__contInfoCompra__contInfo button {
          position: absolute;
          right: 2.5rem;
          bottom: 1.5rem;
          width: 8rem;
          height: 2.25rem;
          border: 2px solid #03C4EB;
          background-color: white;
          font-size: 0.9em;
          cursor: pointer;
          transition: all 0.5s; }
        .seccionCarrito__contenedor__contInfoCompra__contInfo button:hover {
          transform: translateY(-5px);
          transition: all 0.5s; }
  @media (max-width: 900px) {
    .seccionCarrito__contenedor {
      flex-direction: column;
      align-items: center; } }

.seccionInformacion {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccionInformacion h2 {
    font-weight: 400;
    font-family: "Inconsolata", monospace;
    font-size: 2em;
    letter-spacing: 2px; }
  .seccionInformacion h3 {
    color: #959596;
    letter-spacing: 3px;
    font-size: 1.15em;
    font-family: sans-serif;
    margin-bottom: 3rem; }
  .seccionInformacion__contInfo {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem; }
    .seccionInformacion__contInfo--img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%; }
      .seccionInformacion__contInfo--img img {
        width: 100%; }
    @media (max-width: 920px) {
      .seccionInformacion__contInfo--img {
        display: none; } }
    .seccionInformacion__contInfo--info {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .seccionInformacion__contInfo--info p {
        font-size: 1em;
        letter-spacing: 1.5px; }
  @media (max-width: 1200px) {
    .seccionInformacion__contInfo {
      width: 90%; } }
  @media (max-width: 920px) {
    .seccionInformacion__contInfo {
      display: flex;
      justify-content: center;
      align-items: center; } }

.seccionContacto {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccionContacto h2 {
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 400;
    font-family: "Inconsolata", monospace;
    font-size: 2em;
    letter-spacing: 2px; }
  .seccionContacto h3 {
    text-align: center;
    color: #959596;
    letter-spacing: 3px;
    font-size: 0.95em;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    padding: 0 1rem; }
  .seccionContacto__contInfo {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .seccionContacto__contInfo__bloque {
      width: 33%;
      padding: 3em 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f7f7;
      border: 1px solid rgba(128, 128, 128, 0.2); }
      .seccionContacto__contInfo__bloque__info {
        width: 100%;
        display: flex;
        justify-content: center; }
        .seccionContacto__contInfo__bloque__info--icono {
          width: 25%;
          padding: 0 15px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .seccionContacto__contInfo__bloque__info--icono * {
            height: 1.6rem;
            color: #03C4EB; }
        .seccionContacto__contInfo__bloque__info--texto {
          width: 75%; }
          .seccionContacto__contInfo__bloque__info--texto h4, .seccionContacto__contInfo__bloque__info--texto p {
            margin: 0;
            padding: 0 15px; }
      .seccionContacto__contInfo__bloque p {
        color: #2a8490; }
  @media (max-width: 1430px) {
    .seccionContacto__contInfo {
      width: 70%; } }
  @media (max-width: 1280px) {
    .seccionContacto__contInfo {
      width: 90%; } }
  @media (max-width: 900px) {
    .seccionContacto__contInfo {
      flex-direction: column;
      height: 30rem;
      justify-content: space-between; }
      .seccionContacto__contInfo__bloque {
        width: 20rem; } }
  .seccionContacto__contFormulario {
    width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem; }
    .seccionContacto__contFormulario__contInputs {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 5rem; }
      .seccionContacto__contFormulario__contInputs input,
      .seccionContacto__contFormulario__contInputs textarea {
        border: 3px solid #ebeeef;
        border-radius: 7px;
        color: #959596; }
      .seccionContacto__contFormulario__contInputs input:focus,
      .seccionContacto__contFormulario__contInputs textarea:focus {
        outline: 1px solid #ebeeef; }
      .seccionContacto__contFormulario__contInputs label {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        padding: 1rem 0;
        letter-spacing: 1px;
        position: absolute;
        padding: 0 0.8rem;
        font-size: 0.95em;
        left: 3rem;
        top: 0.5rem;
        background-color: white; }
      .seccionContacto__contFormulario__contInputs__contIzq {
        width: 100%; }
        .seccionContacto__contFormulario__contInputs__contIzq--contenedor {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative; }
        .seccionContacto__contFormulario__contInputs__contIzq input {
          height: 3rem;
          width: 88%;
          padding-left: 1rem;
          letter-spacing: 1px;
          margin: 1rem 0; }
      .seccionContacto__contFormulario__contInputs__contDer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: relative; }
        .seccionContacto__contFormulario__contInputs__contDer textarea {
          width: 85%;
          height: 75%;
          padding: 1rem;
          resize: none;
          letter-spacing: 1px; }
    .seccionContacto__contFormulario button {
      width: 8rem;
      height: 2.5rem;
      margin-bottom: 5rem;
      margin-top: 5rem;
      border: 2px solid #03C4EB;
      background-color: white;
      font-size: 0.9em;
      cursor: pointer;
      transition: all 0.5s; }
    .seccionContacto__contFormulario button:hover {
      transform: translateY(-5px);
      transition: all 0.5s; }
  @media (max-width: 900px) {
    .seccionContacto__contFormulario {
      width: 40rem; } }
  @media (max-width: 670px) {
    .seccionContacto__contFormulario {
      width: 30rem; }
      .seccionContacto__contFormulario__contInputs {
        flex-direction: column; }
        .seccionContacto__contFormulario__contInputs__contDer {
          margin-top: 1.5rem; }
          .seccionContacto__contFormulario__contInputs__contDer label {
            top: -0.5rem; }
          .seccionContacto__contFormulario__contInputs__contDer textarea {
            height: 8rem; } }
  .seccionContacto--googleMap {
    border: 0;
    width: 70%;
    height: 30rem; }

.seccionPerfil {
  width: 100%;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccionPerfil h2 {
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 400;
    font-family: "Inconsolata", monospace;
    font-size: 1.5em;
    letter-spacing: 2px; }
  .seccionPerfil__contForm {
    width: 28rem;
    padding: 2rem 0;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2); }
    .seccionPerfil__contForm__contInputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .seccionPerfil__contForm__contInputs__contNombre {
        width: 22rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .seccionPerfil__contForm__contInputs__contNombre--input {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 1.5rem; }
          .seccionPerfil__contForm__contInputs__contNombre--input input {
            width: 9.5rem;
            padding: 0.65rem 0.5rem;
            margin-top: 0.25rem;
            border: 1px solid rgba(128, 128, 128, 0.3);
            border-radius: 5px; }
          .seccionPerfil__contForm__contInputs__contNombre--input input:focus {
            outline-color: #4f46e5; }
      .seccionPerfil__contForm__contInputs--input {
        width: 22rem;
        margin-bottom: 1.5rem; }
        .seccionPerfil__contForm__contInputs--input label {
          font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
          font-size: 0.9em;
          font-weight: 400; }
        .seccionPerfil__contForm__contInputs--input input {
          width: 95%;
          padding: 0.65rem 0.5rem;
          margin-top: 0.25rem;
          border: 1px solid rgba(128, 128, 128, 0.3);
          border-radius: 5px;
          letter-spacing: 1px;
          color: #959596; }
        .seccionPerfil__contForm__contInputs--input input:focus {
          outline-color: #4f46e5; }
    .seccionPerfil__contForm__contBoton {
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem; }
      .seccionPerfil__contForm__contBoton button {
        width: 8rem;
        height: 2.5rem;
        margin-bottom: 1rem;
        border: 2px solid #03C4EB;
        background-color: white;
        font-size: 0.9em;
        cursor: pointer;
        transition: all 0.5s; }
      .seccionPerfil__contForm__contBoton button:hover {
        transform: translateY(-5px);
        transition: all 0.5s; }

.seccionUser {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccionUser__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; }
    .seccionUser__contenedor__contImg {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 10rem;
      margin: 2rem 0;
      outline: 8px solid rgba(128, 128, 128, 0.2);
      border-radius: 100%; }
      .seccionUser__contenedor__contImg img {
        height: 100%; }
      .seccionUser__contenedor__contImg button {
        position: absolute;
        bottom: 40px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer; }
        .seccionUser__contenedor__contImg button * {
          color: black; }
    .seccionUser__contenedor__contAvatares {
      margin: 2rem 0;
      display: none; }
      .seccionUser__contenedor__contAvatares img {
        height: 5rem;
        margin: 0 0.5rem; }
    .seccionUser__contenedor__contInfo {
      width: 100%;
      margin-top: 3rem;
      padding-bottom: 5rem;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #959596;
      border: 1px solid rgba(128, 128, 128, 0.2);
      border-radius: 10px; }
      .seccionUser__contenedor__contInfo--icon {
        color: black; }
      .seccionUser__contenedor__contInfo--label {
        color: #4a4a4a;
        margin-left: 1rem;
        margin-right: 0.25rem;
        letter-spacing: 0px; }
      .seccionUser__contenedor__contInfo ul {
        list-style: none; }
        .seccionUser__contenedor__contInfo ul li {
          width: 20rem;
          margin: 2rem 0;
          letter-spacing: 1px; }
          .seccionUser__contenedor__contInfo ul li select {
            border: none;
            outline: none;
            background-color: transparent;
            color: #959596;
            letter-spacing: 1px; }
          .seccionUser__contenedor__contInfo ul li input {
            border: none;
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            outline: none;
            color: #959596;
            letter-spacing: 1px; }
      .seccionUser__contenedor__contInfo button {
        width: 8rem;
        height: 2.25rem;
        position: absolute;
        right: 5rem;
        bottom: 2rem;
        border: 2px solid #03C4EB;
        background-color: white;
        font-size: 0.9em;
        cursor: pointer;
        transition: all 0.5s; }
      .seccionUser__contenedor__contInfo button:hover {
        transform: translateY(-5px);
        transition: all 0.5s; }
    @media (max-width: 770px) {
      .seccionUser__contenedor__contInfo {
        flex-direction: column; } }
  @media (max-width: 1250px) {
    .seccionUser__contenedor {
      width: 75%; } }
  @media (max-width: 980px) {
    .seccionUser__contenedor {
      width: 90%; } }

.menuVisible {
  display: flex;
  justify-content: center;
  align-items: center; }

.seccionFooter {
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .seccionFooter__contenedor {
    width: 28%;
    height: 100%;
    padding: 0 3rem;
    margin: 3rem 0; }
    .seccionFooter__contenedor h1 {
      color: white;
      font-size: 0.95em;
      font-family: "Inconsolata", monospace;
      letter-spacing: 1.5px;
      border-bottom: 1px solid #959596;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem; }
    .seccionFooter__contenedor__contTexto {
      color: #959596; }
      .seccionFooter__contenedor__contTexto--info {
        display: flex;
        align-items: center;
        width: 100%;
        height: 2rem; }
        .seccionFooter__contenedor__contTexto--info p {
          margin-left: 1rem; }
      .seccionFooter__contenedor__contTexto__contBoton {
        margin: 1rem 0; }
      .seccionFooter__contenedor__contTexto--boton {
        text-decoration: none;
        color: #959596; }
      .seccionFooter__contenedor__contTexto--boton:hover {
        color: #ffff; }
      .seccionFooter__contenedor__contTexto--nav ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .seccionFooter__contenedor__contTexto--nav ul li {
          margin: 0.75rem 0; }

@media (max-width: 700px) {
  .seccionFooter {
    flex-direction: column; }
    .seccionFooter__contenedor {
      width: 70%; } }

.contProducto {
  width: 15rem;
  height: 24rem;
  margin: 2rem 0.75rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  border-radius: 6px;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  background-color: white; }
  .contProducto__contImg {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .contProducto__contImg--img {
      height: 10.5rem;
      border-radius: 10px; }
  .contProducto__contInfo {
    text-align: left;
    width: 80%;
    height: 30%;
    padding: 0 10%; }
    .contProducto__contInfo--titulo {
      border-top: 1px solid rgba(128, 128, 128, 0.2);
      padding-top: 1rem;
      margin: 0;
      text-decoration: none;
      font-size: 1em; }
      .contProducto__contInfo--titulo :link {
        text-decoration: none;
        color: black; }
      .contProducto__contInfo--titulo :visited {
        color: black; }
    .contProducto__contInfo__subcontenedor {
      width: 100%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .contProducto__contInfo__subcontenedor--info {
        width: 90%;
        margin: 0; }
      .contProducto__contInfo__subcontenedor--precio {
        color: #03C4EB;
        font-weight: bold;
        margin: 0; }

.seccionProducto {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .seccionProducto h1 {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.9em;
    font-weight: 200; }
  .seccionProducto h2 {
    font-family: "Inconsolata", monospace;
    font-size: 1.15em;
    margin-top: 3rem; }
  .seccionProducto__contInfo {
    width: 70rem;
    height: 30rem;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 2rem; }
    .seccionProducto__contInfo__contIzq {
      width: 50%;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .seccionProducto__contInfo__contIzq img {
        height: 100%;
        max-height: 28rem;
        border-radius: 10px; }
    .seccionProducto__contInfo__contDer {
      width: 50%;
      padding-left: 2rem; }
      .seccionProducto__contInfo__contDer__contInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin-bottom: 2rem; }
        .seccionProducto__contInfo__contDer__contInfo--precio {
          margin: 0;
          font-weight: bold;
          font-size: 1.15em;
          color: #03C4EB; }
      @media (max-width: 420px) {
        .seccionProducto__contInfo__contDer__contInfo {
          flex-direction: column; }
          .seccionProducto__contInfo__contDer__contInfo--precio {
            margin: 1rem 0; } }
      .seccionProducto__contInfo__contDer select {
        border: none;
        outline: none;
        background-color: transparent; }
      .seccionProducto__contInfo__contDer input[type=number] {
        width: 2rem;
        padding-left: 0.5rem;
        color: #959596;
        border: 1px solid rgba(128, 128, 128, 0.2); }
      .seccionProducto__contInfo__contDer input[type=number]:focus {
        outline-color: #03C4EB; }
      .seccionProducto__contInfo__contDer--descripcion {
        color: #959596;
        margin-bottom: 2rem; }
      .seccionProducto__contInfo__contDer--boton {
        background-color: #4f46e5;
        color: white;
        border-color: #8c86ee;
        border-radius: 7px;
        width: 40%;
        padding: 0.6rem 0;
        margin-bottom: 0.5rem;
        cursor: pointer;
        margin-top: 2rem; }
  @media (max-width: 930px) {
    .seccionProducto__contInfo {
      flex-direction: column;
      align-items: center;
      height: auto; }
      .seccionProducto__contInfo__contIzq {
        width: 80%;
        margin-bottom: 2rem; }
        .seccionProducto__contInfo__contIzq img {
          width: 60%; }
      .seccionProducto__contInfo__contDer {
        width: 80%; } }

.seccionPageNotFound {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .seccionPageNotFound__contMensaje {
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .seccionPageNotFound__contMensaje--info {
      border-left: 1px solid rgba(128, 128, 128, 0.2);
      padding-left: 2rem; }
      .seccionPageNotFound__contMensaje--info p {
        color: gray; }
    .seccionPageNotFound__contMensaje h1 {
      padding-right: 2rem; }
  .seccionPageNotFound__contBoton {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .seccionPageNotFound__contBoton--icono {
      margin-right: 1rem; }
    .seccionPageNotFound__contBoton button {
      height: 2.5rem;
      padding: 0 1rem;
      border: 2px solid #03C4EB;
      background-color: white;
      font-size: 0.9em;
      cursor: pointer;
      transition: all 0.5s; }
    .seccionPageNotFound__contBoton button:hover {
      transform: translateY(-5px);
      transition: all 0.5s; }

.validacion-incorrecto input {
  border-color: #bb2929; }

.validacion-incorrecto input:focus {
  outline-color: #bb2929; }

.infoError {
  display: none;
  width: 70%;
  font-size: 0.85em;
  font-family: sans-serif; }
  .infoError-activo {
    display: block;
    margin: 0;
    margin-bottom: 0.5rem; }

.contAlerta {
  background-color: #fef2f2;
  color: #c84a4a;
  padding: 0 2rem;
  margin-top: 2rem; }

body {
  padding: 0;
  margin: 0;
  color: #4a4a4a; }

.titleDivider {
  width: 3.5rem;
  height: 0.25rem;
  background-color: #03C4EB;
  border-radius: 10px; }
