@import './Variables.scss';

@import './sections/Header.scss';
@import './sections/Home.scss';
@import './sections/Shop.scss';
@import './sections/Cart.scss';
@import './sections/AboutUs.scss';
@import './sections/Contact.scss';
// @import './sections/Carrito.scss';
@import './sections/Profile.scss';
@import './sections/Footer.scss';

@import './components/Card.scss';
@import './components/ProductInfo.scss';
// @import './components/Discount.scss';
@import './components/PageNotFound.scss';
// @import './components/Spinner.scss';
// @import './sections/ToBuy.scss';

@import './ValidacionForms.scss';

body {
  padding: 0;
  margin: 0;
}







// CAMBIOS

/*
- About US:
    * Cambiar estilos de las letras
    * Cambiar dos imagenes

- Contact:
    * Input al estar activo no cambie el borde

-Footer:
    * Input type="email" para introducir el correo y que le lleguen ofertas y novedades. OPCIONAL para rellenar (Sucede al registrarse también)
*/