.validacion-incorrecto input {
  border-color: $color-incorrecto;
}

.validacion-incorrecto input:focus{
  outline-color: $color-incorrecto;
}
  
.infoError{
  display: none;
  width: 70%;
  font-size: $fontSize-inputError;
  font-family: $fontFamily-1;
  
  &-activo{
      display: block;
      margin: 0;
      margin-bottom: 0.5rem;
    }
  }