// Colors

$color-black: #4a4a4a; //212529
$color-white: #ffff;
$color-lightgray: #959596;
$color-red: #ff4c4c;
$color-lightblue: #2a8490;
$color-correcto: #1ed12d;
$color-incorrecto: #bb2929;

$backgroundColor-lightgray: #f7f7f7; //777777
$backgroundColor-black: rgba(21,21,21,255);
// $backgroundColor-discount: rgba(255,76,76,255);

$borderColor-input: #ebeeef;
$borderColor-container: rgba(128, 128, 128, 0.200); //e4e4e4


// Font

$fontSize-titulo: 4em;
$fontSize-subtitulo: 2.15em;
$fontSize-subtitulo2: 1.15em;
$fontSize-subtitulo3: 0.95em;
$fontSize-enlaces: 1.15em;
$fontSize-tituloFooter: 0.95em;
$fontSize-texto: 1em; //Unir con boton????
$fontSize-boton: 1em;
$fontSize-labelInput: 0.95em;
$fontSize-inputError: 0.85em;

// $fontSize-tituloOferta: 0.9em;
// $fontSize-infoOferta: 0.9em;

$fontWeight-subtitulo: 400;

$fontLetterSpacing-input: 1px;
$fontLetterSpacing-tituloFooter: 1.5px;

$fontFamily-1: sans-serif;
$fontFamily-2: 'Inconsolata', monospace;

$fontFamily-titulo: sans-serif;
$fontFamily-subtitulo: 'Inconsolata', monospace;





$fontFamily-label: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; //Mirar sin funciona


//-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
//"Source Sans Pro", sans-serif




// // FONT
// $default-font-size: 1.6rem;


// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
//$gutter-horizontal: 6rem;