// Colors

$color-black: #4a4a4a;
$color-white: #ffff;
$color-lightgray: #959596;
$color-blue: #03C4EB;
$color-lightblue: #2a8490;
$color-correcto: #1ed12d;
$color-incorrecto: #bb2929;

$backgroundColor-lightgray: #f7f7f7;
$backgroundColor-black: rgba(21,21,21,255);

$borderColor-input: #ebeeef;
$borderColor-container: rgba(128, 128, 128, 0.200);


// Font

$fontSize-titulo: 4em;
$fontSize-subtitulo: 2em;
$fontSize-subtitulo2: 1.15em;
$fontSize-subtitulo3: 0.95em;
$fontSize-enlaces: 1.15em;
$fontSize-tituloFooter: 0.95em;
$fontSize-texto: 1em;
$fontSize-boton: 0.9em;
$fontSize-labelInput: 0.95em;
$fontSize-inputError: 0.85em;

$fontWeight-subtitulo: 400;

$fontLetterSpacing-input: 1px;
$fontLetterSpacing-tituloFooter: 1.5px;
$fontLetterSpacing-subtitulo: 2px;

$fontFamily-1: sans-serif;
$fontFamily-2: 'Inconsolata', monospace;

$fontFamily-titulo: sans-serif;
$fontFamily-subtitulo: 'Inconsolata', monospace;
$fontFamily-label: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
